project:
  type: website
  output-dir: ../docs

execute:
  freeze: true

website:
  title: "Simple Linux - An Introduction to Genomic Analysis on Linux"
  search: true
  navbar:
    background: light
    align: left
    logo: logo_ccmar.png
    logo-link: https://www.ccmar.ualg.pt/
    logo-width: 200px

  sidebar:
    style: docked
    pinned: true
    align: left
    collapse-level: 2
    background: light
    tools:
      - icon: github
        href: "https://github.com/Py-ualg/biohap"
    contents:
      - section: "Contents"
        contents:
          - index.qmd
          - 2025_spring/250416_atkacz.qmd

format:
  html:
    toc: true
    theme:
      - cosmo
      - brand
    code-copy: true
    code-overflow: wrap
    grid:
      sidebar-width: 350px
      body-width: 900px
      margin-width: 300px



