project:
  type: website
  output-dir: ../docs

execute:
  freeze: true

website:
  title: "BioHap: Bioinformatics, Handy and Practical"
  search: true
  navbar:
    background: light
    align: left
    logo: logo_ccmar.png
    logo-link: https://www.ccmar.ualg.pt/
    logo-width: 200px

  sidebar:
    style: docked
    pinned: true
    align: left
    collapse-level: 2
    background: light
    tools:
      - icon: github
        href: "https://github.com/Py-ualg/biohap"
    contents:
      - section: "Introduction"
        contents:
          - index.qmd

      - section: "Spring 2026"
        contents:
          - 2026_spring/2601_hpc.qmd

      - section: "BioData.pt"
        contents:
          - biodata_pt/training_2511.qmd

      - section: "Fall 2026"
        contents:
          - 2026_fall/call_to_action.qmd

      - section: "Spring 2025"
        contents:
          - 2025_spring/250416_atkacz.qmd
          - 2025_spring/250507_taires.qmd
          - 2025_spring/250604_iduarte/250604_iduarte.qmd

      - section: "Basics"
        contents:
          - basics/abundance_tables.qmd
      - references.qmd

bibliography: references.bib

format:
  html:
    toc: true
    theme:
      - cosmo
      - brand
    code-copy: true
    code-overflow: wrap
    # css: styles.css
    # include-after-body: js.html
    grid:
      sidebar-width: 350px
      body-width: 900px
      margin-width: 300px
  # pdf:
  #   documentclass: scrreprt



