project:
  type: website
  output-dir: ../docs

execute:
  freeze: auto

website:
  title: "BioHaP: Bioinformatics, Handy and Practical"
  search: true
  navbar:
    background: light
  sidebar:
    style: docked
    pinned: true
    align: left
    collapse-level: 1
    background: light
    contents:

      - section: "Introduction"
        contents:
          - index.qmd
      - section: "Fall 2026"
        contents:
          - 2026_fall/call_to_action.qmd

      - section: "Spring 2026"
        contents:
          - 2026_spring/2601_hpc.qmd

      - section: "Fall 2025"
        contents:
          - biodata_pt/training_2511.qmd

      - section: "Spring 2025"
        contents:
          - 2025_spring/250416_atkacz.qmd
          - 2025_spring/250507_taires.qmd
          - 2025_spring/250604_iduarte/250604_iduarte.qmd

      - section: "Basics"
        contents:
          - basics/abundance_tables.qmd
      - references.qmd
    tools:
      - icon: github
        href: "https://github.com/Py-ualg/biohap"

bibliography: references.bib

format:
  html:
    toc: true
    theme:
      - cosmo
      - brand
    code-copy: true
    code-overflow: wrap
    # css: styles.css
    # include-after-body: js.html
    grid:
      sidebar-width: 350px
      body-width: 900px
      margin-width: 300px
    css: styles.css
    include-after-body: _navbar_logo.html
  # pdf:
  #   documentclass: scrreprt



